<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Float</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <style>
    .contoh {
      width: 30%;
      border: 1px solid black;
      padding: 30px;
    }

    img {
      float: right;
      width: 200px;
    }
  </style>
  <body>
    <h1>Latihan Float</h1>
    <div class="contoh">
      <p>
        Dalam contoh ini, gambar akan melayang ke kanan dalam paragraf, dan teks
        dalam paragraf akan membungkus gambar.
      </p>
      <p>
        <img src="ss.png" alt="Pineapple" />
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
        imperdiet, nulla et dictum interdum, nisi lorem egestas odio, vitae
        scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec
        congue eget,
      </p>
    </div>
  </body>
</html>
